@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Solway:wght@300;400;500;700;800&display=swap');

h1, h2, h3, h4, h5, h6{
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

p, a, li, span{
  font-family: "Hammersmith One", sans-serif;
}

.product-container-list{
  column-count: 3;
  column-gap: 10px;
  padding: 10px; 
}

.product-item{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 10px;
}

@media (max-width:768px){
  .product-container-list{
    column-count: 1;
  }
  
}